@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
        url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
  }
  
@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
        url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
        url('../fonts/opensans-bold-webfont.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'opensans', sans-serif;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: var(--color-grey);
}
input[type="number" i] {
    padding: 0;
}
li {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
ul {
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
p {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

h1 {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

h2 {
    margin-block-start: 0px;
    margin-block-end: 0px;
}
h3 {
    margin-block-start: 0px;
    margin-block-end: 0px;
}
h4 {
    margin-block-start: 0px;
    margin-block-end: 0px;
}
h5 {
    margin-block-start: 0px;
    margin-block-end: 0px;
}
:root {
    --color-white: #FFF;
    --color-black: #000;
    --color-purple: #9D5CD0;
    --color-grey: #333;
    --color-border-grey: #CACACA;
    /* --color-white-grey: */
}


/* general */

.header-two {
    font-size: 48px;
    line-height: 65px;
    font-weight: 400;
}
.header-three {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
}
.header-four {
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
}
.header-five {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}
.purple-text {
    color: var(--color-purple);
}

.container-king {
    padding-right: 8.3333333%;
    padding-left: 8.3333333%;
}


/* header-hero */
  
.header-hero {
    font-size: 18px;
    line-height: 25px;
    color: var(--color-white);
    background: url('../images/hero-header/hero-background-1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    animation: hero-background 40s linear infinite;
}
@keyframes hero-background {
    0% {
        background-size: 120%;
        background-position: 50% 50%;
    }
    20% {
        background-size: 150%;
        background-position: 50% 50%;
    }    
    40% {
        background-size: 110%;
        background-position: 50% 50%;
    }
    60% {
        background-size: 160%;
        background-position: 50% 50%;
    }
    80% {
        background-size: 120%;
        background-position: 50% 50%;
    }    
    100% {
        background-size: 120%;
        background-position: 50% 50%;
    }
}


/* header-top */

.header-top {
    background: var(--color-black);
}
.header-top__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.logo {
    width: 173px;
    height: 39.9px;
}
.header-top__list {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    margin-right: 100px;
}
.header-top__item {
    font-weight: 600;
}
.header-top__item:not(:last-child) {
    margin-right: 62px;
}
.header-top__login {
    margin-left: 2px;
}


/* header-bottom */

.header-bottom {
    background: rgba(0, 0, 0, 0.4);
}
.header-bottom__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.header-bottom__list {
    display: flex;
}
.header-bottom__item {
    position: relative;
}
.header-bottom__item a {
    cursor: pointer;
}
.header-bottom__item a::after {
    content: url('../images/gallery/arrow-before.svg');
}
.header-bottom__item:hover a::after {
    content: url('../images/gallery/arrow-after.svg');
}
.header-bottom__item:not(:last-child) {
    margin-right: 96px;
}
.header-bottom__hidden {
    width: 300px;
    position: absolute;
    top: 47px;
    background: rgba(0, 0, 0, 0.6);
    height: 0; 
    overflow: hidden; 
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.header-bottom__hidden-list {
    margin: 40px 19px 40px 40px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 220px;
}
.header-bottom__hidden-list::-webkit-scrollbar {
    width: 2px;
    background-color: var(--color-black);
}
.header-bottom__hidden-list::-webkit-scrollbar-thumb {
    background-color: var(--color-white);
}
.header-bottom__hidden-item {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: var(--color-white);
    padding: 11px 14px;
    opacity: 1;
    background-repeat: no-repeat;
}
.header-bottom__hidden-item:not(:last-child) {
    margin-bottom: 20px;
}
.header-bottom__search button {
    background: none;
    border: none;
}
.header-bottom__search svg {
    transform: translateY(6px);
}
.header-bottom__search input {
    line-height: 25px; 
    opacity: 0.85; 
    background: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
    padding: 0;
    width: 218px;
}
.header-bottom__search input::placeholder {
    color: var(--color-white);
}


/* hero */

.hero {
    padding-top: 70px;
    padding-bottom: 122px;
}    
.hero__main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 37%;
}
.hero__header-text {
    margin-bottom: 91px;
}
.hero__header {
    font-size: 72px;
    line-height: 85px;  
    font-weight: 700;
    margin-bottom: 17px;
}
.hero__text {
    line-height: 30px;
    font-weight: 700;
}
.hero__button {
    background: var(--color-purple);
    border-radius: 100px;
    border-style: none;
    width: 314px;
    color: var(--color-white);
    font-weight: 700;
    line-height: 25px;
    padding: 22.5px 35px;
}


/* about-us */

.about-us {
    padding-top: 80px;
    padding-bottom: 69px;
}
.about-us .container-king {
    width: 56%;
}
.about-us__header {
    margin-bottom: 17px;
}


/* gallery */

.gallery__container {
    height: 100%;
    display: flex;
}
.gallery {
    background-image: url('../images/gallery/background.jpg');
    color: var(--color-white);
    padding-top: 82px;
    padding-bottom: 80px;
    height: 832px;
}
.gallery__left {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.gallery__left-header {
    margin-bottom: 15px;
}
.gallery__left p {
    font-weight: 600;
    margin-bottom: -11px;
}
.gallery__select-block {
    margin-top: 18px;
}
/* select */
.choices {
    overflow: visible;
    margin-bottom: 0;
}
.choices__item {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    padding-left: 15px;
    padding-top: 3px;
    padding-bottom: 5px;
}
.choices[data-type*='select-one'] .choices__inner {
    padding-bottom: 0;
}
.choices__inner {
    padding: 0;
    min-height: auto;
    border-color: var(--color-white);
    border-radius: 6px;
    background-color: transparent;
}
.choices__list--single {
    padding: 0;
}
.choices[data-type*='select-one']:after {
    content: url('../images/gallery/arrow-before.svg');
    height: 0px;
    width: 0px;
    border-style: none;
    margin-right: 14px;
    margin-top: -15px;
}
.choices__list--dropdown {
    background: transparent;
    border: 1px solid #999999;
    border-radius: 6px;
}
.choices[data-type*='select-one'].is-open:after {
    content: url('../images/gallery/arrow-after.svg');
    margin-top: -18px;
}
.choices__list--dropdown .choices__item {
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
}
.is-open .choices__inner {
    border-radius: 6px; 
}
.choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: rgba(255, 255, 255, 0.2);
}
.choices__list--dropdown .choices__item--selectable.is-highlighted:after {
    display: none;
} 
/*  */
.gallery__left {
    font-size: 16px;
    line-height: 32px;
    font-weight: 600;
    margin-right: 49px;
}

.gallery__right {
    margin-top: 15px;
}
.gallery .swiper, .editions .swiper {
    width: 99.87%;
    height: 100%;
    padding-right: 3px;
}
.gallery .swiper-slide, .editions .swiper-slide {
    text-align: center;
    font-size: 18px;
    width: 350px !important;
    height: 350px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    /* flex-shrink: 0; */
    margin-right: 50px;
    margin-bottom: 50px;
}
.gallery .swiper-pagination, .editions .swiper-pagination {
    color: var(--color-white);
    position: static !important;
    transform: translateY(16px);
    line-height: 16px;
}
.swiper-button-next, .swiper-button-prev {
    position: static;
    top: auto;
    width: auto;
    height: auto;
    margin-top: 0;
}
.gallery .gallery_btns, .editions .gallery_btns {
    display: flex;
    flex-direction: row-reverse;
    width: 130px;
    margin-left: 4px;
    margin-bottom: 23px;
}
.swiper-button-next:after {
    content: url('../images/gallery/btn-next.svg');
}
.swiper-button-prev:after {
    content: url('../images/gallery/btn-prev.svg');
}


/* catalog */

.catalog {
    padding: 80px 0;
}
.catalog__head {
    display: flex;
    margin-bottom: 17px;
    transform: translateY(3px);
}
.catalog__header {
    margin-right: 40px;
}
.catalog__countries {
    display: flex;
    align-items: center;
    transform: translateY(1px);
}
.catalog__btn-country {
    transform: translateY(4px);
    background: none;
    border: none;
    width: 46px;
    height: 46px;
    margin-right: 50px;
    cursor: pointer;
}
.btn-france {
    background: url('../images/catalog/france.jpg');
}
.btn-germany {
    background: url('../images/catalog/germany.jpg')
}
.btn-italy {
    background: url('../images/catalog/italia.jpg')
}
.btn-russia {
    background: url('../images/catalog/russia.jpg')
}
.btn-belgium {
    background: url('../images/catalog/belgium.jpg')    
}
.catalog__text-under-head {
    width: 67.5%;
    margin-bottom: 40px;
}
.catalog__content {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: 2s ease;
}
.catalog__content-active {
    height: auto;
    overflow: visible;
    opacity: 1;
    transition: 2s ease;
}
.catalog__left {
    padding-right: 40px;
}
.catalog__img {
    background-image: url('../images/catalog/domenico.jpg');
    width: 750px;
    height: 470px;
    margin-bottom: 30px;
}
.catalog__date-text {
    margin-top: 7px;
}
.catalog__date {
    font-size: 12px;
    line-height: 16px;
    color: #999999;
    margin-bottom: 7px;
}
.catalog__right {
    padding-left: 0 !important;
}
.catalog__item:first-child {
    border-top: 1px solid var(--color-border-grey);
    border-bottom: 1px solid var(--color-border-grey);
}
.catalog__item {
    border-bottom: 1px solid var(--color-border-grey);
}
.catalog__btn {
    width: 100%;
    background: none !important;
    border: none !important;
    padding: 32px 0 !important;
    display: flex !important;
    align-items: center;
    margin: 0 !important;
}
.catalog__span {
    font-weight: 600;
    font-size: 24px;
    color: var(--color-grey);
    text-align: left;
    margin-right: auto;
}
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon, .ui-button:hover .ui-icon, .ui-button:focus .ui-icon {
    display: none;
}
.ui-icon-triangle-1-e, .ui-icon, .ui-widget-content .ui-icon {
    display: none !important;
}
.ui-accordion-header-active svg .tryrw {
    transform: scale(1,-1) translateY(-49px);
    transition: all .5s ease-in-out;
}
.ui-accordion .ui-accordion-content {
    padding: 25px 0 !important;
    border: none;
    border-top: 1px solid var(--color-border-grey) !important;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br, .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl, .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr, .ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.catalog__name-list {
    display: flex !important;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    max-height: 295px;
    width: 91%;
}
.catalog__name {
    font-size: 17px;
    line-height: 32px;
}
.catalog__accordion-empty {
    height: auto !important;
}
.catalog__list-empty {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    max-height: none !important;
    height: auto;
}
.catalog__list-empty-left {
    border: 2px solid #B7B7B7;
    padding: 12px;
    width: 285px;
    height: 165px;
    margin-right: 24px;
}
.catalog__list-empty-left-content {
    background: #B7B7B7;
    width: 100%;
    height: 100%;
}
.catalog__empty-message {
    font-size: 16px;
    line-height: 22px;
    width: 60%;
    margin: 5px 0;
}
.catalog__empty-href-in-gal {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}
.catalog__accordion {
    height: auto !important;
}
.catalog__about {
    display: none;
}
.catalog__about-active {
    display: block;
}
.catalog__hidden {
    display: none;
}
.catalog__about-empty .catalog__img {
    background: url('../images/catalog/artist-empty.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
.catalog__about-empty .header-three, .catalog__about-empty .catalog__date-text {
    display: none;
}
.catalog__about-empty .catalog__hidden {
    display: block;
}
.catalog__about-empty .catalog__description {
    margin: 15px 0;
}
.catalog__about-empty .header-three__gal-empty {
    display: block;
}


/* doings */

.doings {
    margin-bottom: 92px;
}
.doings__list {
    margin-top: 15px;
    margin-bottom: 14px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.doings__item {
    width: 31.25%;
    margin-bottom: 50px;
}
.doings__item:not(:nth-child(3n)) {
    margin-right: 50px;
}
.doings__item-content {
    border: 1px solid var(--color-border-grey);
    height: 698px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.doings__img {
    height: 300px;
}
.doings__place {
    margin-top: 13px;
    text-align: right;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;  
    padding-right: 19px;
    color:#999999;
}
.doings__header {
    transform: translateY(5px);
    margin-right: 30px;
    margin-left: 50px;
    margin-bottom: 6px;
}
.doings__description {
    margin: 0 50px;
}
.doings__more {
    margin-left: 49px;
    margin-bottom: 40px;
    color: var(--color-purple);
}
.doings__more a {
    border-bottom: 1px solid var(--color-purple);
    padding-bottom: 2px;
}
.doings__btn-block {
    text-align: center;
}
.doings__btn {
    padding: 15px 33px;
    border: 2px solid var(--color-purple);
    font-size: 18px;
    line-height: 25px;  
    font-weight: 700;
    border-radius: 100px;
    background: var(--color-white);
    color: var(--color-purple);
    cursor: pointer;
}
.doings__item:not(:nth-child(-n+3)) {
    display: none;
}


/* editions */

.editions {
    background: url('../images/editions/birmingham-museums-trust-MK_98NuC4-4-unsplash\ 4.jpg');
    background-repeat: no-repeat;
    height: 763px;
    color: var(--color-white);
}
.editions .container-king {
    display: flex;
    padding-top: 80px;
    height: 100%;
}
.editions__left {
    margin-right: 48px;
}
.editions__right {
    padding-top: 25px;
}
.editions .header-two {
    margin-bottom: 16px;
}
.header-four-price {
    margin-bottom: 6px;
}
.editions__categories {
    margin-bottom: 28px;
}
.editions__categories-item {
    /* margin-bottom: 16px; */
}
input[type="checkbox"] {
    display: none;
}
label {
    padding-left: 10px;
}
label::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: -10px;
    margin-right: 12px;
    transition: 0.2s;
    border: 1px solid var(--color-white);
    background-position: center center;
}
input[type="checkbox"]:checked + label::before {
    background-image: url('../images/editions/checkbox-point.svg');
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid var(--color-purple);
}
input[type="checkbox"]:checked + label {
    transition: 0.2s;
    color: var(--color-purple);
}
.editions__price-block {
    width: 69%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    font-size: 16px;
    line-height: 32px;
    display: flex;
    flex-direction: row;
}
.editions__price-text {
    padding: 3px 9px;
}
.editions__price input {
    background: rgba(157, 92, 208, 0.5);
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: none;
    font-size: 16px;
    line-height: 32px;
    height: 100%;
    padding: 0px 10px;
    border-image: none;

}
.editions__price input::placeholder {
    color: var(--color-white);
}
.editions .swiper {
    height: auto;
}
.editions__item {
    display: flex;
    flex-direction: column;
    height: auto !important;
    color: var(--color-white);
    text-align: left;
    align-items: flex-start !important;
}
.editions__item img {
    margin-bottom: 23px;
}
.editions__name-price {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}
.editions__name-price-1 {
    text-align: left;
    font-size: 16px;
    line-height: 22px;
}
.editions__name-price-2 {
    font-size: 16px;
    line-height: 22px;
}
.editions__btn {
    padding: 7px 21px;
    border: 2px solid var(--color-purple);
    font-size: 16px;
    line-height: 22px;  
    font-weight: 700;
    border-radius: 100px;
    background: inherit;
    color: var(--color-white);
    cursor: pointer;
}
.editions .gallery_btns {
    margin-bottom: 26px;
}


/* projects */

.projects {
    padding: 80px 0;
}
.projects .header-two {
    margin-bottom: 16px;
}
.projects-text {
    margin-bottom: 20px;
}
.projects-text svg {
    transform: translateY(3px);
}
.projects-text a {
    color: var(--color-purple);
    font-weight: 600;
}
.projects__swiper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.mySwiper3 {
    display: flex;
    justify-content: space-between;
}
.projects__item div {
    height: 150px;
    border: 1px solid var(--color-border-grey);
    width: 448px !important;
}
.projects__item div div {
    background-repeat: no-repeat;
    background-position: center center;
}
.projects__item1 {
    background: url('../images/projects/1.svg');
}
.projects__item2 {
    background: url('../images/projects/2.svg');
}
.projects__item3 {
    background: url('../images/projects/3.svg');
}
.projects__item4 {
    background: url('../images/projects/4.svg');
}
.projects__item5 {
    background: url('../images/projects/5.svg');
}
.projects__item6 {
    background: url('../images/projects/6.svg');
}
.projects__item7 {
    background: url('../images/projects/7.svg');
}
.projects__item8 {
    background: url('../images/projects/8.svg');
}
.projects__item9 {
    background: url('../images/projects/9.svg');
}


.swiper-button-prev3 {
    margin-right: 45px;
}
.swiper-button-next3 {
    margin-left: 25px;
}
.projects .header-five {
    margin-bottom: 23px;
}


/* contacts */

.contacts .header-two {
    margin-bottom: 14px;
}
.container-contacts {
    display: flex;
}
.contacts__left {
    border: 1px solid var(--color-border-grey);
    padding: 124px 165px 124px 160px;
}
.contacts__place {
    font-size: 24px;
    font-weight: 600;
}
.contacts__street {
    margin-bottom: 30px;
}
.contacts__back-call {
    font-size: 24px;
    margin-bottom: 16px;
}

.contacts__right {
    width: 64.6%;
}
.form div {
    width: 355px;
}
.form input {
    border: 1px solid var(--color-grey);
    border-radius: 100px;
    padding: 3px 21px;
    line-height: 32px;
    margin-bottom: 23px;
}
.form__btn {
    padding: 15px 33px;
    border: 2px solid var(--color-purple);
    border-radius: 100px;
    background: inherit;
    color: var(--color-purple);
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    margin-bottom: 38px;
}
.contacts__connection {
    font-size: 24px;
    margin-bottom: 14px;
}
.contacts__icons {
    display: flex;
}
.contacts__icons svg:first-child {
    margin-right: 19px;
}


/* footer */

.footer {
    background: var(--color-black);
    padding-top: 7px;
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .container-king {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.footer svg {
    margin-left: 16px;
    transform: translateY(-3px);
}